name: frnkk
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.8


dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.0
  get: ^4.6.6
  flutter_otp_text_field: ^1.1.0+2
  http: ^1.2.0
  google_fonts: ^6.2.1
  flutter_screenutil: ^5.9.3

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter




  flutter_lints: ^6.0.0


flutter:


  uses-material-design: true


  assets:
   - assets/images/


